/* Reset */
body,
h1,
h2,
p,
ul,
li {
  margin: 0;
  padding: 0;
  background-color: #ECF0F1;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes expand {
    from {
        height: 0;
    }
    to {
        height: 7rem;
    }
}

@keyframes expand-2 {
    0% {
        height: 0;
    }
    100% {
        height: 29rem;
    }
}

@keyframes slide-down {
    from {
        height: 0;
    }
    to {
        height: 8rem; 
    }
}

@keyframes app-launch {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    70% {
        transform: scale(1.2);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes color-transition {
    0% {
        background-color: #502552; 
    }
    100% {
        background-color: #ECF0F1; 
    }
}


body {
    background-color: #502552; 
    animation: color-transition 6s ease-in-out forwards; 
    animation-delay: 1s;
}

.main-container {
    display: flex;
    flex-direction: column ;
}

.bar {
    display: flex;
    flex-direction: column;
    background: linear-gradient(135deg, #331830, #382236);
    color: #ECF0F1;
    height: 0;
    justify-content:space-around ;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.1);
    overflow: hidden; 
    animation: slide-down 3s forwards; 
    animation-delay: 1.8s;
}

.name {
    font-size: 2.1rem;
    font-family: 'Lato', sans-serif;
    text-align: center;
    margin: 0.2rem 0;
    opacity: .9;
}


.sub-main-container {
    height: 0;
    overflow: hidden;
    animation: expand-2 4.5s forwards;
    animation-delay: 2s;
}

.text-container {
    padding: 1.99rem;
    overflow: hidden;
}

.text-container p {
    background-color: #502552; 
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    opacity: 0;
    animation: fade-in 2s forwards, color-transition 6s ease-in-out forwards;
    animation-delay: 3.5s, 1s;
}

.text-container .delayed_p {
    background-color: #502552;
    animation: fade-in 2s forwards, color-transition 6s ease-in-out forwards;
    animation-delay: 5s, 1s;
}

.separator {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3.8rem;
    background-color: #502552;
    height: 7rem;
    box-shadow: inset 0px 5px 10px rgba(0, 0, 0, 0.3),
                inset 0px -5px 10px rgba(0, 0, 0, 0.3);
    height: 0; 
    overflow: hidden;
    animation: expand 1s forwards; 
    animation-delay: 1s;
}

.separator img {
    margin-top: 30px;
    height: 50px;
    width: 50px;
    opacity: .9;
}

.contact {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    animation: app-launch .2s ease-out 6s forwards;
    transform-origin: center;
    opacity: 0; 
}

.contact img{
    margin-top: 15px;
    width: 100px;
    height: 100px;
}

footer {
    padding: 1rem;
    text-align: center;
    opacity: 0;
    font-size: .5rem;
    animation: fade-in 5s forwards;
    animation-delay: 8s;
}

.qr-code {
    display: none;
    animation: app-launch .2s ease-out 6s forwards;
    transform-origin: center;
    opacity: 0; 
}

/* Media query for PC browsers */
@media only screen and (min-width: 768px) {
    @keyframes expand-2 {
        0% {
            height: 0;
        }
        100% {
            height: 12.5rem;
        }
    }

    .qr-code {
        display: flex;
        align-self: center;
        width: 150px; 
        height: 150px; 
        background-image: url('/regunaga/src/frame.png'); 
        background-size: cover; 
        z-index: 9999;
    }

footer {
    margin-top: 3rem;
    text-align: center;
    opacity: 0;
    font-size: 1rem;
    animation: fade-in 5s forwards;
    animation-delay: 8s;
}
.sub-main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
}
